
header {
	padding:20px 0 0 !important;

}

.style1{
  margin-bottom: 20px;
}

.three.columns{
  width: 24%; 
  margin-left: 2%;
  }

#sp_menu {
  display: none;
}

#pc_menu {
  display: block;
}
header .pc_menu_li {
  margin: 0;
  padding: 0;
}
header li.menu_txt a {
  display: inline-block;
  line-height: 40px;
}


header ul {
  float: right;
  padding: 10px 0 0;
}

header li {
  display: inline-block;
  margin: 20px 0 0 10px;
}

header li, header li * {
  vertical-align: bottom;
}


footer {
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}

footer a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}

footer a:hover {
  color: #b0b0b0;
}

footer .copyright {
  color: #e2ddd4;  
  margin-bottom: 20px;
}

footer .footer_list{
  padding: 15px;
  margin: 0;
}

footer #page_top {
  text-align: right;
  border-bottom: 1px solid #887f69;
  padding-bottom: 15px;
}

footer ui{
    margin: 0;
}

footer li{
	display:inline-block;
	font-size:1.2rem;
}

main ul{
  margin: 0 0 20px 0 ;
}

main li{
  box-sizing: border-box;
	display:inline-block;
	font-size:1.2rem;
	background:#fff;
  margin: 1px 0.15%;
  padding: 13px;
  width:33% ;
}

#NEW_ITEMS{
  margin: 0;
}

#POPULAR_ITEMS{
  margin: 0;
  }

/* 
#SUB_FIELD{
  margin-left: 20px;
} 
*/

.sub_title{
  padding: 8px 0 17px 0 ;
  }

.sub_title_sp{
  display: none;
}

.item_1{
  margin: 5px 0;
  }

.item_2{
  margin: 5px 0;
  }

.more_b{
	margin:20px auto 10px;
	text-align: center;
}

.guide_box1{
	display:flex;
}

.guide_box{
  padding: 20px;
  width:49.5%;
	font-size:1.2rem;
  margin-bottom: 40px;
}

.sp_side{
  display: none;
}



#products_box {
  margin-top: 10px;
    padding: 40px 5%;
}


#products_id{
	float:right;
  padding-top: 5px;
}

#display_img{
	width:71.4%;
	float:left;
}
#display_img img{
	border-right:1px solid #fff;
}
#list_img{
	width:28.5%;
	float:right;
}

#list_img li{
	width:49.7%;
	float:left;
	padding: 0 0 0 5px;
}


#cart_box1 {
    float: left;
    width: 55%;
}
.cart_box0 {
    border-bottom: 1px solid #e2ddd4;
    padding-bottom: 3px;
}

.cart_box3 {
    border-top: 1px solid #e2ddd4;
    margin-bottom: 10px;
    padding-top: 3px;
}


#add_to_cart {
    width: 225px;
    float: right;
}

input[type="text"] {
  max-width: 150px;
}








